body {
  min-height: 1000px;
}
.jumbotron {
  padding: 6rem;
  background-color: #cadcf8;
}
#projects {
  background-color: #cadcf8;
}
section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
  margin: 0;
}
